body {
    background-color: #f0f2f5;
}

footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    height: 2.5rem;            /* Footer height */
    justify-content: center;
    text-align: center;
}

.post {
    background-color: white;
    display: inline-block;

    transition: .25s;
    height: auto;
}

.box-shadow {
    -webkit-box-shadow: 0 .5rem 1rem rgba(50,50,50, .15);
    -moz-box-shadow: 0 .5rem 1rem rgba(50,50,50, .15);
    box-shadow: 0 .5rem 1rem rgba(50,50,50, .15);
}

.post .ptext{
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.navbar-light {
    background-color: white !important;
}

.comments-link{
    color: black;
    font-weight: bold;
    text-align: right;
    padding-bottom: 15px;
    float: right;
}

.post .bottom {
    padding-right: 10px;
}

.error404{
    text-align: center;
    width: auto;
    height: 100%;
}

.navbar-login{
    padding: 15px 15px 10px;
}

.signup-header{
    text-align: center;
}

.signup-wrap{
    background-color: white;
}

.signup-logout{
    left: 50%;
    width: 150px;
    margin-left: -75px;

    background-color: #e83636;
    border-color: #a44343;
    position: fixed;
}

.navbar-signup{
    color: grey;
    font-weight: bold;

}

.user-credentials{
    background-color: white;
    min-width: auto;
}

.credentials-divider{
    height: 100%;
    width: 2px;
    background-color: #565e64;
}

.feed{

}

.feed-text{
    margin-top: 5px;
    text-align: center;
}

.post-divider{
    width: 75%;
    left: 12.5%;
    position: relative;
    height: 1px;
    background-color: #565e64;
    margin-bottom: 10px;
}

.post-username{
    margin-top: -20px;
    color: rgba(0, 0, 0, 0.27);
}

.create-post-textarea{
    resize: none;
    border: none;
    background-color: #f0f2f5;
    cursor: pointer;
    transition: .25s;
}

.create-post-textarea:hover{
    background-color: #e6e8eb;
}
.create-post-textarea::placeholder{
    color: rgba(0, 0, 0, 0.25);
}
.create-post-textarea:focus{
    background-color: #f0f2f5;

    border-color: #e6e8eb !important;
    box-shadow: 0 .5rem 1rem rgba(50,50,50, .15)

}

.post-button{
    background-color: #f0f2f5;
    border-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;

    left: 50%;
    margin-left: -50px;
    width: 100px;
    position: relative;

    margin-bottom: 10px;
}

.comment-button{
    background-color: #f0f2f5;
    border-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;

    left: 50%;
    margin-left: -50px;
    width: 100px;
    position: relative;

    font-size: .75rem;

    margin-bottom: 10px;
}

.comment-username{
    margin-top: 2px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.27);
}

.delpmargin{
    margin-bottom: 0px;
}

.post-button:hover{
    background-color: #dcdee1;
}